<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>Home</h2> <a href="{% url 'usuarios:perfil' %}">Perfil</a></p>
  <p>Bienbenido profesor, {{ user.username }}!</p>
  <form method="post" action="{% url 'usuarios:logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>

    <a href="{% url 'usuarios:modificar_calificaciones_profesor' %}"> Asignar Calificaciónes</a>

</body>
</html>